/* @font-face {
  font-family: 'MBC1961GulimM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{text-decoration: none; color: inherit;}
ul{list-style: none;}


#wrap {
  width: 100%;
  margin: 0 auto;
  background: #f7f5eb;
  /* font-family: 'MBC1961GulimM'; */
  font-family: 'Noto Sans KR', sans-serif;
  /* font-family: "Martian Mono", monospace; */
  /* font-family: 'NanumSquareBold'; */
}
#container{
  width: 90%;
  margin: 0 auto;
  padding-left: 120px;
}
.scroll_wrap {
  /* width: 20%; */
  position:fixed; top:50%; left:0px; 
  transform:translateY(-50%);
  text-align: right; 
  color: #f7f5eb;}
.scroll_wrap .scroll_move li{
    background: url(img/menubar4.png) no-repeat; background-size: cover; 
    width: 230px; height: 65px;
    line-height: 90px; 
    padding-right: 45px; 
    font-size:15px; margin: 30px 0; 
    position: relative;  left:-85px; 
    transition: all 0.5s;
    
  }
.scroll_wrap .scroll_move li a{
    font-family: "Martian Mono", monospace;
  }
.scroll_wrap .scroll_move li.on{left:-55px; font-weight: bold; font-size:18px;}



#index {
  background: steelblue;
  width: 100%;
  height: 100vh;
  color: #f7f5eb;
  text-align: center;
  padding-top: 200px;
}
#index > #index_text > p {
  display: inline-block;
  font-family: "Martian Mono", monospace;
  animation: index 2s linear;
  font-weight: bold;
}
#index > #index_text > h1 {
  font-size: 150px;
  font-family: "Martian Mono", monospace;
  /* animation: index 2s linear; */
}
#index > #index_text > h2 {
  font-size: 23px;
  font-family: "Martian Mono", monospace;
  display: inline-block;
  animation: index2 2s linear;
}
#index > #index_text > .line {
  content: "";
  width: 836px;
  height: 1px;
  display: inline-block;
  background: #f7f5eb;
  margin-right: 10px;
  animation: index2 2s linear;
}
#index > #index_text > .line2 {
  content: "";
  width: 710px;
  height: 1px;
  display: inline-block;
  background: #f7f5eb;
  margin-left: 10px;
  animation: index 2s linear;
}
@keyframes index {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes index2 {
  0% {
    transform: translateX(4000px);
  }
  100% {
    transform: translateX(0px);
  }
}



#about {
  padding: 70px 0 150px;
  background: #f7f5eb;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
#about #about_text {
  width: 100%;
  margin: 0 auto;
  /* padding-top: 50px; */
  position: relative;
  padding-right: 100px;
}
#about #about_text #profile{
  padding-top: 90px;
}
/* #about #about_text h1 {
  text-align: center;
  font-size: 50px;
  padding-bottom: 50px;
  color: steelblue;
} */
#about #img_box {
  text-align: right;
  margin-right: 100px;
}
#about #img_box > p {
  text-align: right;
  font-size: 20px;
  color: gray;
  /* margin-left: 350px;
  margin-top: 20px; */
}
#about #img_box > p > em {
  color: steelblue;
  font-weight: 600;
}
#about #profile {
  padding-top: 50px;
}
#about #profile > div {
  float: left;
  width: 50%;
}
#about #profile_tb tr {
  vertical-align: baseline;
  line-height: 40px;
  text-align: left;
  font-size: 18px;
}
#about #profile_tb tr th {
  font-weight: bold;
  width: 100px;
  color: steelblue;
}
#about #profile_tb tr td {
  /* font-weight: 500; */
  color: gray;
}
#about #profile_tb tr td.short {
  line-height: 25px;
  width: 320px;
  padding-left: 30px;
}
#profile_list li{
    float: left;
    font-size: 25px;
    padding-right: 50px;
    color: gray;
}
#profile_list>li>a{
    display: block;
    font-weight: bolder;
    margin-bottom: 15px;
}
#profile_list>li.active>a{
    color: steelblue;
    border-bottom: solid steelblue;
    font-weight: bold;
}
#profile_list>li>a:hover{
    color: steelblue;
}
#profile_list{
    position: relative;
}
#profile_list>li.active div{
    position: absolute;
    left: 0;
    height: 500px;
}
#profile_list>li>div{
    position: absolute;
    left: 0;
    height: 0;
    overflow: hidden;
    font-size: 18px;
}
#skills_box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-gap: 30px;
    margin-top: 40px;
    text-align: center;
}
#skills_box article{
    height: 500px;
}
#skills_box article img{
    width: 80px;
    height: 80px;
    filter: saturate(0%)
}
#skills_box article img:hover{
  filter: saturate(100%);
  transition: 1.2s;
}
#skills_box article p{
    font-weight: bold;
}


#project {
    padding: 70px 0 150px;
    background: #f7f5eb;
    width: 100%;
    /* height: 200vh; */
    color: gray;
    /* font-family: "Martian Mono", monospace; */
  }
#project #project_text {
    width: 80%;
    margin: 0 auto;
    /* padding-top: 25px; */
  }
/* #project #project_text h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
  } */
  #project #project_text h1 {
    color:transparent; -webkit-text-stroke: 1.5px #bdcfd1;
    font-size:40px; font-weight: bold;
    /* display:flex; align-items:center; margin-left:70px; */
    transition:all 0.7s;
    clear: both;
}
#project #project_text h1:hover {
    -webkit-text-stroke:none;
    color:#bdcfd1;
}
#project #project_text .project_box1{
  display: flex;
  margin: 15px 0;
}
#project #project_text .project_box1 .project_box1_left{
  width: 60%;
  text-align: center;
  /* border-radius:30px; 
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  position: relative;
}
/* #project #project_text .project_box1 .project_box1_left:before {content: ''; width: 100%; height: 150px; background: #EAC7C7; position: absolute; bottom:0; right: 0;} */
#project #project_text .project_box1 .project_box1_right{
  width: 40%;
} 
#project #project_text .project_box1 .project_box1_right .txt {margin-top:120px;}
#project #project_text .project_box1 .project_box1_right .txt h2 {
    font-size:1.333rem; font-weight:bold;
    margin-bottom:20px; color: steelblue;
    font-family: 'Noto Sans KR', sans-serif;
} 
#project #project_text span{
  font-family: 'Noto Sans KR', sans-serif;
}
#project #project_text .project_box1 .project_box1_right .project_tb tr {
  vertical-align: baseline;
  line-height: 40px;
  text-align: left;
  font-size: 16px;
}
#project #project_text .project_box1 .project_box1_right .project_tb tr th {
  font-weight: bold;
  width: 100px;
  color: steelblue;
}
#project #project_text .project_box1 .project_box1_right .project_tb tr td {
  font-weight: 500;
  color: gray;
}
#project #project_text .project_box1 .project_box1_right tr td .contri{
  letter-spacing:-0.09rem;
}
#project #project_text .project_box1 .project_box1_right .site {display:flex;}
#project #project_text .project_box1 .project_box1_right .site a {
    display:block;
    width:120px; padding:3px 0; margin-right:20px;
    text-align:center; margin-top: 12px;
    color:steelblue; border:1px solid steelblue; border-radius:10px;;
    transform:scale(1); transition:all 0.5s linear;
}
#project #project_text .project_box1 .project_box1_right .site a:hover {
    background: steelblue; color:#fff; border:none;
    transform:scale(1.1);
}

#project #project_text .project_box1 .project_box2_left{
  width: 40%;
  text-align: center;
  /* border-radius:30px; 
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  position: relative;
}
#project #project_text .project_box1 .project_box2_right{
  width: 60%;
  margin-left: 150px;
} 
#project #project_text .project_box1 .project_box2_right .txt {margin-top:120px;}
#project #project_text .project_box1 .project_box2_right .txt h2 {
    font-size:1.333rem; font-weight:bold;
    margin-bottom:20px; color: steelblue; font-family: 'Noto Sans KR', sans-serif;
} 
#project #project_text .project_box1 .project_box2_right .project_tb tr {
  vertical-align: baseline;
  line-height: 40px;
  text-align: left;
  font-size: 16px;
}
#project #project_text .project_box1 .project_box2_right .project_tb tr th {
  font-weight: bold;
  width: 100px;
  color: steelblue;
}
#project #project_text .project_box1 .project_box2_right .project_tb tr td {
  font-weight: 500;
  color: gray;
}
#project #project_text .project_box1 .project_box2_right tr td .contri{
  letter-spacing:-0.09rem; 
}
#project #project_text .project_box1 .project_box2_right .site {display:flex;}
#project #project_text .project_box1 .project_box2_right .site a {
    display:block;
    width:120px; padding:3px 0; margin-right:20px;
    text-align:center; margin-top: 12px;
    color:steelblue; border:1px solid steelblue; border-radius:10px;;
    transform:scale(1); transition:all 0.5s linear;
}
#project #project_text .project_box1 .project_box2_right .site a:hover {
    background: steelblue; color:#fff; border:none;
    transform:scale(1.1);
}
/* #project #project_text #project_box1 .project_line{
  display: block;
  background: #EAC7C7;
  width: 100%; height: 100px;
} */



  #contact {
    padding: 70px 0 150px;
    background: #f7f5eb;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    /* font-family: "Martian Mono", monospace; */
  }
  #contact #contact_text {
    width: 90%;
    margin: 0 auto;
    /* padding-top: 25px; */
  }
  /* #contact #contact_text h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
    color: steelblue;
  } */
  #contact #contact_text #contact_wrap{
    width: 80%;
    margin: 20px auto;
    border-radius:30px; 
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: gray;
}
#contact #contact_text #contact_wrap #contact_header{
  height: 30px;
  background: #bdcfd1;
  border-radius: 30px 30px 0 0;
}
#contact #contact_text #contact_wrap #contact_header .contact_header_wrap{
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#contact #contact_text #contact_wrap #contact_header .contact_btn{
  display: flex;
}
#contact #contact_text #contact_wrap #contact_header .contact_btn .contact_btn1{
  width: 12px; height: 12px;
  background: red;
  border-radius: 50%;
  margin: 10px 5px;
}
#contact #contact_text #contact_wrap #contact_header .contact_btn .contact_btn2{
  width: 12px; height: 12px;
  background: orange; border-radius: 50%;
  margin: 10px 5px;
}
#contact #contact_text #contact_wrap #contact_header .contact_btn .contact_btn3{
  width: 12px; height: 12px;
  background: green; border-radius: 50%;
  margin: 10px 5px;
}
#contact #contact_text #contact_wrap #contact_header .contact_bar{
  width: 50%; height: 20px;
  background: white; border-radius: 30px; margin: 5px;
  line-height: 20px;
  /* text-align: center; */
  display: flex; justify-content: space-between;
  padding: 0 10px;
}
#contact #contact_text #contact_wrap #contact_header .contact_bar span{
  font-size: 13px; 
}
#contact #contact_text #contact_wrap #contact_header .contact_kk{
  display: flex;
}
#contact #contact_text #contact_wrap #contact_header .contact_prv{
  width: 22px; height: 22px; line-height: 20px;
  border: 1px solid #f7f5eb; text-align: center;
  border-right: none; font-weight: bolder; margin: 4px 0;
}
#contact #contact_text #contact_wrap #contact_header .contact_next{
  width: 22px; height: 22px; line-height: 20px;
  border: 1px solid #f7f5eb; text-align: center; font-weight: bolder;
  margin: 4px 0;
}
#contact #contact_text #contact_wrap #contact_main{
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 0 0 30px 30px;
  padding-bottom: 10px;
}
#contact #contact_text #contact_wrap #contact_main table{
  width: 92.5%;
  text-align: left;
  margin: 0 40px;
}
#contact #contact_text #contact_wrap #contact_main tr{
  border-bottom: #bdcfd1 4px solid;
  height: 50px; line-height: 50px;
  font-size: 1rem;
}
#contact #contact_text #contact_wrap #contact_main tr th{
  color: steelblue; font-weight: bolder;
  width: 15px;
}
#contact #contact_text #contact_wrap #contact_main tr td{
  color: gray; font-weight: bolder;
  text-align: left; width: 90%;
}
#contact #contact_text #contact_wrap #contact_main tr td span{
  color: steelblue;
}
#contact #contact_text #contact_wrap #contact_main #contact_text_2{
  width: 90%;
  margin: 30px auto;
  padding: 20px;
  border: #bdcfd1 solid 4px;
  border-radius: 30px;
}
#contact #contact_text #contact_wrap #contact_main #contact_text_2 h1{
  font-size: 3.9rem; font-family: "Martian Mono", monospace;
}
#contact #contact_text #contact_wrap #contact_main #contact_text_2 p{
  font-size: 1.2rem; /* font-family: 'Noto Sans KR', sans-serif; */
}
#contact #contact_text #contact_wrap #contact_main #contact_text_3{
  border-top: #bdcfd1 4px solid;
  width: 94%;
  text-align: center;
  margin: 0 40px;
}
#contact #contact_text #contact_wrap #contact_main #contact_text_3 p{
  font-size: 13px;
  margin: 12px 10px 5px 10px;
}


.smallimg{margin: 80px auto;
  padding-top: 60px;
  width: 100%; justify-content: space-around;}
#project_design_list{
    margin-top: 50px;
    margin-left: 120px;
  }
.smallimg li{display: inline-block; 
  padding: 20px; 
  text-align: center; 
  width: 30.33333%;
}
.smallimg li img{
  border-radius: 30px;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.smallimg li img:hover{
  transform: scale(1.1);
  transition: 1.2s;
}
#bigimg{position: fixed; left: 0; top: 0; 
   width: 100%; height: 100%; 
   background: rgba(0, 0, 0, 0.7);
   display: none;}
#big{position: absolute; left: 50%; top: 50%;
transform: translate(-50%, -50%);
border: 5px solid #EAE0DA;}